#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#,--no-undefined,--no-add-needed

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DEVENT__DISABLE_DEBUG_MODE=ON

override_dh_strip:
	dh_strip --dbg-package=libevent-dbg

override_dh_builddeb:
	dh_builddeb -- -Zbzip2 -z9

override_dh_auto_test:
